<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ALWAYS_ALLOW_EXACT_ALARMS" />

    <application>
        <activity
            android:name=".camera1.activity.MiddleActivity"
            android:launchMode="singleTask"
            android:exported="false"
            android:theme="@style/lib_camera_AppTheme.Transparent"/>
        <activity
            android:name=".camera1.activity.TestCameraReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".camera1.activity.InVisibleCameraActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=".other"
            android:exported="false"
            android:theme="@style/lib_camera_AppTheme.Transparent" />
        <activity
            android:name=".camera1.activity.TestCameraBackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".camera1.activity.TestCameraActivity"
            android:exported="false" />

        <service
            android:name=".camera1.service.WindowManagerCameraService"
            android:exported="false" />
        <service
            android:name=".camera1.service.BackgroundCameraService"
            android:exported="false" />
        <service
            android:name=".camera1.service.ForegroundCameraService"
            android:exported="false"
            android:foregroundServiceType="camera" />
        <service
            android:name=".camera1.service.MessageService"
            android:exported="false" />
    </application>

</manifest>